{% extends 'OctaHomeCore/baseWithNavBar.html' %}
{% load my_filters %}

{% block title %} Temperature Control {% endblock %}

{% block TempControlNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Fan - Fan 1</h1>
	</div>
	<div class="row-fluid">
		<div class="span2">
			<h5>Target:</h5>
			<br>
			<h1>
				<font size="+6">
					<big><big><big><big>
						<a href="#" id="targetTemp" data-type="text" data-pk="1" data-url="/assets/php/SetHomeVariables/SetTargetTemp.php?room=My_Bedroom" data-title="Enter new target:">25</a>
					</big></big></big></big>
				</font>
			</h1>
		</div>
		<div class="span2">
			<h5>Current:</h5>
			<br>
			<h1 id="CurrentTemp" class="text-info">
				<font size="9">
					<big><big><big><big>
						<div name="currentTemp">20</div>
					</big></big></big></big>
				</font>
			</h1>
		</div>
		<div class="span8">
			<h5>Current Speed State:</h5>
			<div class="progress progress-striped">
				<div class="bar bar-success" name="barLow" style="width:{% if device.Speed > '0' %}33.3%{% else %}00.0%{% endif %};"></div>
				<div class="bar bar-warning" name="barMedium" style="width:{% if device.Speed > '1' %}33.3%{% else %}00.0%{% endif %};"></div>
				<div class="bar bar-danger" name="barHigh" style="width:{% if device.Speed > '2' %}33.4%{% else %}00.0%{% endif %};"></div>
			</div>
			<div class="row-fluid">
				<div class="span7">
					<h5>Current Speed:</h5>
					<div class="btn-group">
						<button class="btn" name="fanOff" onclick="setFanSpeedWithFanName('off')" {% if device.Speed == '0' and device.AutoState == '0' %}disabled{% endif %}>Off</button>
						<button class="btn" name="fanAuto" onclick="setFanSpeedWithFanName('auto')" {% if device.AutoState == '1' %}disabled{% endif %}>Auto</button>
						<button class="btn" name="fanLow" onclick="setFanSpeedWithFanName('low')" {% if device.Speed == '1' and device.AutoState == '0' %}disabled{% endif %}>Low</button>
						<button class="btn" name="fanMedium" onclick="setFanSpeedWithFanName('medium')" {% if device.Speed == '2' and device.AutoState == '0' %}disabled{% endif %}>Medium</button>
						<button class="btn" name="fanFull" onclick="setFanSpeedWithFanName('full')" {% if device.Speed == '3' and device.AutoState == '0' %}disabled{% endif %}>Full</button>
					</div>
				</div>
				<div class="span4">
					<h5>Current Swivel State:</h5>
					<div class="btn-group">
						<button class="btn" name="swivelOff" onclick="setFanSwivelToState('off')" {% if device.TwistState == '0' %}disabled{% endif %}>Off</button>
						<button class="btn" name="swivelOn" onclick="setFanSwivelToState('on')" {% if device.TwistState == '1' %}disabled{% endif %}>On</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p>
	</p> 
{% endblock %}

{% block ExtraJavaScript %}
	<link href="{{STATIC_URL}}css/bootstrap-editable.css" rel="stylesheet">
	<script src="{{STATIC_URL}}js/bootstrap-editable.js"></script>
	<script>
		$(document).ready(function() {
			$('#targetTemp').editable();
		});

		function updateCuttentTempLabeTo(newTemp) {
			document.getElementsByName("currentTemp")[0].innerHTML = newTemp;
		}
		function setFanSpeedWithFanName(name) {
			if (name == 'off') {
				document.getElementsByName("fanOff")[0].disabled = true;
				document.getElementsByName("fanAuto")[0].disabled = false;
				document.getElementsByName("fanLow")[0].disabled = false;
				document.getElementsByName("fanMedium")[0].disabled = false;
				document.getElementsByName("fanFull")[0].disabled = false;
				document.getElementsByName("barLow")[0].style.width = '0.0%';
				document.getElementsByName("barMedium")[0].style.width = '0.0%';
				document.getElementsByName("barHigh")[0].style.width = '0.0%';
			} else if (name == 'auto') {
				document.getElementsByName("fanOff")[0].disabled = false;
				document.getElementsByName("fanAuto")[0].disabled = true;
				document.getElementsByName("fanLow")[0].disabled = false;
				document.getElementsByName("fanMedium")[0].disabled = false;
				document.getElementsByName("fanFull")[0].disabled = false;
			} else if (name == 'low') {
				document.getElementsByName("fanOff")[0].disabled = false;
				document.getElementsByName("fanAuto")[0].disabled = false;
				document.getElementsByName("fanLow")[0].disabled = true;
				document.getElementsByName("fanMedium")[0].disabled = false;
				document.getElementsByName("fanFull")[0].disabled = false;
				document.getElementsByName("barLow")[0].style.width = '33.3%';
				document.getElementsByName("barMedium")[0].style.width = '0.0%';
				document.getElementsByName("barHigh")[0].style.width = '0.0%';
			} else if (name == 'medium') {
				document.getElementsByName("fanOff")[0].disabled = false;
				document.getElementsByName("fanAuto")[0].disabled = false;
				document.getElementsByName("fanLow")[0].disabled = false;
				document.getElementsByName("fanMedium")[0].disabled = true;
				document.getElementsByName("fanFull")[0].disabled = false;
				document.getElementsByName("barLow")[0].style.width = '33.3%';
				document.getElementsByName("barMedium")[0].style.width = '33.3%';
				document.getElementsByName("barHigh")[0].style.width = '0.0%';
			} else if (name == 'full') {
				document.getElementsByName("fanOff")[0].disabled = false;
				document.getElementsByName("fanAuto")[0].disabled = false;
				document.getElementsByName("fanLow")[0].disabled = false;
				document.getElementsByName("fanMedium")[0].disabled = false;
				document.getElementsByName("fanFull")[0].disabled = true;
				document.getElementsByName("barLow")[0].style.width = '33.3%';
				document.getElementsByName("barMedium")[0].style.width = '33.3%';
				document.getElementsByName("barHigh")[0].style.width = '33.4%';
			}
		}
		function setFanSwivelToState(state) {
			if (state == 'off') {
				httpGet('http://homedecadedev.no-ip.info/assets/php/GetHomeVariables/GetRoomTemp.php?fan=My_Bedroom');
				document.getElementsByName("swivelOff")[0].disabled = true;
				document.getElementsByName("swivelOn")[0].disabled = false;
			} else if (state == 'on') {
				httpGet('http://homedecadedev.no-ip.info/assets/php/GetHomeVariables/GetRoomTemp.php?fan=My_Bedroom');
				document.getElementsByName("swivelOff")[0].disabled = false;
				document.getElementsByName("swivelOn")[0].disabled = true;
			}
		}
		function updateFan() {
			updateCuttentTempLabeTo(httpGet('http:///10.101.10.1/assets/php/GetHomeVariables/GetRoomTemp.php?room=My_Bedroom'));
			var speedState = httpGet('http:///10.101.10.1/assets/php/GetHomeVariables/GetFanSpeed.php?fan=Fan_1')
			if (speedState == "0") {
				setFanSpeedWithFanName('off');
			} else if (speedState == "1") {
				setFanSpeedWithFanName('low');
			} else if (speedState == "2") {
				setFanSpeedWithFanName('medium');
			} else if (speedState == "3") {
				setFanSpeedWithFanName('full');
			}
			if (httpGet('http://10.101.10.1/assets/php/GetHomeVariables/GetFanAutoState.php?fan=Fan_1') == "1") {
				setFanSpeedWithFanName('auto');
			}
			if (httpGet('http:///10.101.10.1/assets/php/GetHomeVariables/GetFanTwistState.php?fan=Fan_1') == "1") {
				document.getElementsByName("swivelOff")[0].disabled = false;
				document.getElementsByName("swivelOn")[0].disabled = true;
			} else {
				document.getElementsByName("swivelOff")[0].disabled = true;
				document.getElementsByName("swivelOn")[0].disabled = false;
			}
		}
	
		function updateCuttentTempLabeTo(newTemp) {
	    	document.getElementsByName("currentTemp")[0].innerHTML = newTemp;
		}
		
		function httpGet(theUrl) {
		    var xmlHttp = null;
		
		    xmlHttp = new XMLHttpRequest();
		    xmlHttp.open( "GET", theUrl, false );
		    xmlHttp.send( null );
		    return xmlHttp.responseText;
	    }
	    
	    
	    window.setInterval(function(){
		    /// call your function here
		    updateFan();  		}, 10000);
	
	</script>
{% endblock %}
