{% extends 'pages/Proxmox/ProxmoxTemplate.html' %}
{% load proxmox_name_convertion %}

{% block ProxmoxTitle %}"{{Vz.name}}" Vz Container{% endblock %}

{% block ProxmoxPageArea %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
		<li><a href="#settings" data-toggle="tab">Settings</a></li>
		<li><a href="#console" data-toggle="tab" onclick="consoleClicked()">Console</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="summary">
			<div class="col-md-4">
				<h4>Server Status:</h4>
				{% if Vz.status == "running" %}
					<h4 id="state" class="text-success">Running</h4>
				{% else %}
					<h4 id="state" class="text-danger">Stopped</h4>
				{% endif %}
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<h4>Total Storage:</h4>
				{% for storageDevice in StorageDevices.nodes %}
					{% if storageDevice.node == Node %}
						<p>{{storageDevice.usedGb|floatformat:2}} GB Used / {{storageDevice.totalGb|floatformat:2}} GB Avalable</p>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: {% widthratio storageDevice.usedGb storageDevice.totalGb 100 %}%"></div>
						</div>
					{% endif %}
				{% endfor %}
				<h4>Uptime:</h4>
				{% for uptimeItem in ServerStatuses.uptimes %}
						{% if uptimeItem.node == Node %}
							<p>Uptime: {{uptimeItem.uptime}}</p>
						{% endif %}
				{% endfor %}
				<h4>Basic Controls:</h4>
				<div>
					<p>
						{% if Vz.status == "running" %}
								<button onclick="startClicked" id="startButton" type="button" type="button" class="btn btn-success" style="width: 32%" disabled>Start</button>

								<button onclick="shutdownClicked()" id="shutdownButton" style="width: 34.3%; margin-left:-1px;" type="button" class="btn btn-warning">Shutdown</button>
								<button onclick="stopClicked()" id="stopButton" type="button" style="width: 32%" class="btn btn-warning pull-right">Stop</button>
						{% else %}
								<button onclick="startClicked()" id="startButton" type="button" style="width: 32%" class="btn btn-success">Start</button>

								<button onclick="shutdownClicked()" id="shutdownButton" style="width: 34%; margin-left:-1px;" type="button" class="btn btn-warning" disabled>Shutdown</button>
								<button onclick="stopClicked()" id="stopButton" type="button" class="btn btn-warning pull-right" style="width: 32%" disabled>Stop</button>
						{% endif %}
						<p></p>
						<button type="button" class="btn btn-info" style="width: 49.5%" data-toggle="modal" data-target="#migrateWindow">Migrate</button>
						<button type="button" class="btn btn-danger pull-right" style="width: 49.5%" data-toggle="modal" data-target="#deleteWindow">Remove</button>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Storage Devices:</h4>
				 <div class="list-group" style="height: 300px !important; overflow: scroll;">
					{% for storageDevice in StorageDevices.devices %}
						<a class="list-group-item">
							<h4 class="list-group-item-heading">Node: {{storageDevice.node}}</h4>
							<h4 class="list-group-item-heading">Devce: {{storageDevice.name}}</h4>
							<p class="list-group-item-text">{{storageDevice.usedGb|floatformat:2}} GB Used / {{storageDevice.totalGb|floatformat:2}} GB Avalable</p>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" style="width: {% widthratio storageDevice.usedGb storageDevice.totalGb 100 %}%"></div>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4">
				<h4>Past Tasks:</h4>
				
			</div>
		</div>
		<div class="tab-pane" id="settings">
			
		</div>
		<div class="tab-pane" id="console">
		<div class="alert alert-warning" style="margin-top:10px;">
		Loading of server console may take a moment, press enter when screen appears.
		</div>
		 <div id="pveKVMConsole-1018-body" style="height: 500px; left: 0px; top: 0px; ">
		 	<div id="vncviewer-applet" role="presentation" style="margin: 0px;height: 500px;">
		 	</div>
		 </div> 
 </div>
     <!-- Fields required for history management -->
     <form id="history-form" class="x-hidden">
     <input type="hidden" id="x-history-field">
     </form>
    
  
 <iframe frameborder="0" class="x-shim" src="about:blank" id="ext-gen1014" style="display: none; "></iframe><div id="ext-comp-1015" class="x-tip x-tip-default x-layer" style="position: absolute; display: none; left: 373px; top: 214px; " role="tooltip" aria-labelledby="component-1017"><div id="ext-comp-1015-body" class="x-tip-body  x-tip-body-default x-tip-body-default"></div><div class="x-tip-anchor x-tip-anchor-top" id="ext-gen1011" style="z-index: 1; "></div></div><div tabindex="-1" class="x-focus-element" id="ext-gen1035">
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade bs-modal-sm" id="migrateWindow" tabindex="-1" role="dialog" aria-labelledby="Migrate Container" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Migrate Container</h4>
				</div>
				<div class="modal-body">
					<p>Please Select The Target:</p>
					<select class="form-control" id="migrateTarget">
						{% for aNode in ServerStatuses.uptimes %}
							<option>{{aNode.node}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitMigrate()">Migrate Server</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade bs-modal-sm" id="deleteWindow" tabindex="-1" role="dialog" aria-labelledby="Migrate Container" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="alert alert-danger fade in">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4>Warning!</h4>
				<p>You Are About To Delete A Server!<br>
				Are You Sure That You Want To Continue?<br>
				This Action Can Not Be Undone!<br></p>
				<p>
				<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="removeCT()">Delete Server</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</p>
		</div>
	</div>
{% endblock %}

{% block ExtraJavaScript %}
	<script>
		function submitMigrate() {
			target = document.getElementById("migrateTarget").value;
			$.get('{% url 'Proxmox' %}?command=migrateCT&node={{node}}&ct={{Vz.vmid}}&target=' + target, function(data){});
			
			window.location.href = "{% url 'Proxmox' %}";
		}
		function startClicked(){
			$.get('{% url 'Proxmox' %}?command=startCT&node={{node}}&ct={{Vz.vmid}}', function(data){});
			
			document.getElementById("startButton").disabled = true;
			document.getElementById("shutdownButton").disabled = false;
			document.getElementById("stopButton").disabled = false;
			document.getElementById("state").innerHTML = "Running";
			document.getElementById("state").className = "text-success";
		}
		function shutdownClicked(){
			$.get('{% url 'Proxmox' %}?command=shutdownCT&node={{node}}&ct={{Vz.vmid}}', function(data){});
			
			document.getElementById("startButton").disabled = false;
			document.getElementById("shutdownButton").disabled = true;
			document.getElementById("stopButton").disabled = true;
			document.getElementById("state").innerHTML = "Stopped";
			document.getElementById("state").className = "text-danger";
		}
		function stopClicked(){
			$.get('{% url 'Proxmox' %}?command=stopCT&node={{node}}&ct={{Vz.vmid}}', function(data){});
			
			document.getElementById("startButton").disabled = false;
			document.getElementById("shutdownButton").disabled = true;
			document.getElementById("stopButton").disabled = true;
			document.getElementById("state").innerHTML = "Stopped";
			document.getElementById("state").className = "text-danger";
		}
		function removeCT() {
			$.get('{% url 'Proxmox' %}?command=removeCT&node={{node}}&ct={{Vz.vmid}}', function(data){});
			
			window.location.href = "{% url 'Proxmox' %}";
		}
		function consoleClicked() {
			$.get("/Proxmox/?command=consoleCT&node={{node}}&ct={{Vz.vmid}}", function(data){
			    var $response = $(data);
			    var vncviewerapplet=document.getElementById("vncviewer-applet");
			    vncviewerapplet.innerHTML=data;
			});
	    }
	</script>
{% endblock %}