{% load my_filters %}

<tr>
	<td>{{alight.id}}</td>
	<td>{{alight.Name | replaceUnderscores}}</td>
	<td>
		{% if alight.Rooms.all|length > 0 %}
		<ul style="padding-left: 20px;">
			{% for room in alight.Rooms.all %}
				<li>{{ room.Name }}</li>
			{% endfor %}
		</ul>
		{% else %}
			None
		{% endif %}
	</td>
	{% if alight.IsOn %}
		<td name="light{{alight.id}}State" class="text-success">{{alight.LightState}}</td>
	{% else %}
		<td name="light{{alight.id}}State" class="text-danger">{{alight.LightState}}</td>
	{% endif %}
	<td>
		{% if alight.IsOn %}
			<button class="btn btn-danger" name="light{{alight.id}}OnOff" onClick="onOffSwitchState('{{alight.id}}', '{{alight|getClassName}}')">{{alight.getSuperClassNames}}Turn Off</button>
		{% else %}
			<button class="btn btn-success" name="light{{alight.id}}OnOff" onClick="onOffSwitchState('{{alight.id}}', '{{alight|getClassName}}')">{{alight.getSuperClassNames}}Turn On</button>
		{% endif %}
	</td>
</tr>