{% load my_filters %}

<tr>
	<td>{{alight.id}}</td>
	<td>{{alight.Name | replaceUnderscores}}</td>
	<td>
		{% if alight.Rooms.all|length > 0 %}
		<ul style="padding-left: 20px;">
			{% for room in alight.Rooms.all %}
				<li>{{ room.Name }}</li>
			{% endfor %}
		</ul>
		{% else %}
			None
		{% endif %}
	</td>
	<td>
		<p class="text-danger">R= 
		<s id="rgbR{{alight.id}}" name="light{{alight.id}}{{alight|getClassName}}Red" data-type="text" data-pk="1" data-url="{% url 'SingleDeviceCommand' command='setR' deviceType=alight|getClassName deviceId=alight.id %}" data-original-title="Set Red Level">{{alight.getDisplayR}}</s>, </p>
		<p class="text-success">G= 
		<s id="rgbG{{alight.id}}" name="light{{alight.id}}{{alight|getClassName}}Green" data-type="text" data-pk="1" data-url="{% url 'SingleDeviceCommand' command='setG' deviceType=alight|getClassName deviceId=alight.id %}" data-original-title="Set Green Level">{{alight.getDisplayG}}</s>, </p>
		<p class="text-info">B= 
		<s id="rgbB{{alight.id}}" name="light{{alight.id}}{{alight|getClassName}}Blue" data-type="text" data-pk="1" data-url="{% url 'SingleDeviceCommand' command='setB' deviceType=alight|getClassName deviceId=alight.id %}" data-original-title="Set Blue Level">{{alight.getDisplayB}}</s></p>
	</td>
	<td>
		<div class="btn-group">
			{% if alight.IsOn != True %}
				<button class="btn btn-success" name="light{{alight.id}}{{alight|getClassName}}OnOff" onClick="RGBSwitchState('{{alight.id}}', '{{alight|getClassName}}')">Turn On</button>
			{% else %}
				<button class="btn btn-danger" name="light{{alight.id}}{{alight|getClassName}}OnOff" onClick="RGBSwitchState('{{alight.id}}', '{{alight|getClassName}}')">Turn Off</button>
			{% endif %}
			<div class="btn-group">
				<button type="button" class="btn btn-primary colourPopover" id="setColorButton" onClick="changeColour('{{alight.id}}', '{{alight|getClassName}}')" data-toggle="popover" title="Set Colour" data-content="<div id='{{alight.id}}{{alight|getClassName}}colorpicker' style='width:195px; height:195px;'></div>">Set Colour</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Scroll Mode<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li role="presentation" class="dropdown-header">Scroll Modes</li>
					<li><a href="#" onClick="setScroll('{{alight.id}}', 'Off')">Off<i name="Light{{alight.id}}ScrollOff" class="{% if alight.Scroll == "Off" %}icon-ok{% endif %}pull-right"></i></a></li>
					{% for scrollMode in scrollModes %}
						<li><a href="#" onClick="setScroll('{{alight.id}}', '{{scrollMode.Name}}')">{{scrollMode.Name}}<i name="Light{{alight.id}}Scroll{{scrollMode.Name}}" class="{% if alight.Scroll == "{{scrollMode.Name}}" %}icon-ok{% endif %}pull-right"></i></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div id="colorpicker">
				<div class="my-farbtastic"></div>
		</div>
	</td>
</tr>