<script>
	function RGBSwitchState(id, type) {
		lightObject = "light" + id + type + "OnOff";
		if (document.getElementsByName(lightObject)[0].innerHTML == "Turn On") {
			RGBTurnOn(id, type)
		} else {
			RGBTurnOff(id, type)
		}
	}
	
	function RGBTurnOff(id, type) {
		lightObject = "light" + id + type + "OnOff";
		lightState = "light" + id + type + "State";
		lightRedLevel = "light" + id + type + "Red";
		lightGreenLevel = "light" + id + type + "Green";
		lightBlueLevel = "light" + id + type + "Blue";
		document.getElementsByName(lightObject)[0].innerHTML = "Turn On";
		document.getElementsByName(lightObject)[0].className = "btn btn-success";
		document.getElementsByName(lightRedLevel)[0].innerHTML = "0";
		document.getElementsByName(lightGreenLevel)[0].innerHTML = "0";
		document.getElementsByName(lightBlueLevel)[0].innerHTML = "0";
		
		url = Urls.SingleDeviceCommand('json', 'setIsOn', type, id) + "?value=False"
		httpGet(url);
	}
	
	function RGBTurnOn(id, type) {
		url = Urls.SingleDeviceCommand('json', 'setIsOn', type, id) + "?value=True"
		httpGet(url);
		
		lightObject = "light" + id + type + "OnOff";
		lightDropDown = "light" + id + type + "DropDown";
		lightState = "light" + id + type + "State";
		lightRedLevel = "light" + id + type + "Red";
		lightGreenLevel = "light" + id + type + "Green";
		lightBlueLevel = "light" + id + type + "Blue";
		
		statusurl = Urls.SingleDeviceCommand('json', 'getState', type, id)
		$.getJSON(statusurl, function (json) {
			document.getElementsByName(lightRedLevel)[0].innerHTML = json["R"]["value"];
			document.getElementsByName(lightGreenLevel)[0].innerHTML = json["G"]["value"];
			document.getElementsByName(lightBlueLevel)[0].innerHTML = json["B"]["value"];
		});
		document.getElementsByName(lightObject)[0].innerHTML = "Turn Off";
		document.getElementsByName(lightObject)[0].className = "btn btn-danger";
	}
	
	function setScroll(lightId, ScrollState) {
		scrollMenuOffItem = "Light" + lightId + "ScrollOff"
		if (ScrollState == 'Off') document.getElementsByName(scrollMenuOffItem)[0].className = "icon-ok pull-right";
		else document.getElementsByName(scrollMenuOffItem)[0].className = "pull-right";
		
	{% for scrollMode in scrollModes %}
		scrollMenu{{scrollMode.Name}}Item = "Light" + lightId + "Scroll{{scrollMode.Name}}"
		if (ScrollState == '{{scrollMode.Name}}') document.getElementsByName(scrollMenu{{scrollMode.Name}}Item)[0].className = "icon-ok pull-right";
		else document.getElementsByName(scrollMenu{{scrollMode.Name}}Item)[0].className = "pull-right";
	{% endfor %}
		
		url = "{% url 'Lights' protocal='html' %}?command=setScroll&lightId=" + lightId + "&ScrollMode=" + ScrollState;
		httpGet(url);
	}
	var currentPickerColour;
	function changeColour(id, type) {
		window.lastLightId = id;
		window.lastLightType = type;
		
		statusurl = Urls.SingleDeviceCommand('json', 'getState', type, id);
		$.getJSON(statusurl, function (json) {
			var currentPickerColour = json["Colour"]["value"];
						
			var pickerId = '#' + id + type + "colorpicker";
			
			var picker = $.farbtastic(pickerId);
			picker.linkTo(callback);
			picker.setColor(currentPickerColour);
		});
	}
	
	function callback(color) {
		var colour = convertHexToRGB(color);
		var postUrl = Urls.SingleDeviceCommand('json', 'setColour', window.lastLightType, window.lastLightId);
		
		var dataString = 'value=' + color + '&csrfmiddlewaretoken={{csrfmiddlewaretoken}}'; 
		
		
		lightObject = "light" + window.lastLightId + window.lastLightType + "OnOff";
		lightState = "light" + window.lastLightId + window.lastLightType + "State";
		lightRedLevel = "light" + window.lastLightId + window.lastLightType + "Red";
		lightGreenLevel = "light" + window.lastLightId + window.lastLightType + "Green";
		lightBlueLevel = "light" + window.lastLightId + window.lastLightType + "Blue";
		document.getElementsByName(lightObject)[0].innerHTML = "Turn On";
		document.getElementsByName(lightObject)[0].className = "btn btn-success";
		document.getElementsByName(lightRedLevel)[0].innerHTML = colour[0];
		document.getElementsByName(lightGreenLevel)[0].innerHTML = colour[1];
		document.getElementsByName(lightBlueLevel)[0].innerHTML = colour[2];
		
		$.ajax({  
			type: "POST",  
			url: postUrl,  
			data: dataString,  
			success: function() {  
			}  
		});
	}
	
	function convertHexToRGB(hex) {
		var hex = parseInt(((hex.indexOf('#') > -1) ? hex.substring(1) : hex), 16);
		return [hex >> 16,(hex & 0x00FF00) >> 8,(hex & 0x0000FF)];
	}
	
	function componentToHex(c) {
		var hex = c.toString(16);
		return hex.length == 1 ? "0" + hex : hex;
	}
	
	function rgbToHex(r, g, b) {
		return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
	}
	
	$(document).ready(function() {
		$(".colourPopover").popover({
			title : 'Set Colour',
			placement : 'bottom',
			html : true
		});
		$.fn.editable.defaults.ajaxOptions = {type: "POST"};
		$.fn.editable.defaults.mode = 'inline';
		$('#lightTable s').editable({
			params: {
				csrfmiddlewaretoken: '{{csrfmiddlewaretoken}}'
			}
		});
	});
	
	function httpGet(theUrl) {
		var xmlHttp = null;
		
		xmlHttp = new XMLHttpRequest();
		xmlHttp.open( "GET", theUrl, false );
		xmlHttp.send( null );
		return xmlHttp.responseText;
	}
</script>