{% extends 'OctaHomeCore/baseWithNavBar.html' %}
{% load my_filters %}

{% block title %} {{title}} {% endblock %}

{% block LightsNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>{{title}}</h1>
	</div>
	<table id="lightTable" class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Light Name</th>
				<th>Room</th>
				<th>State</th>
				<th>Controls</th>
			</tr>
		</thead>
		<tbody>
			{% for aDevice in devices %}
				{% include aDevice.ViewPartial|add:".html" with alight=aDevice %}
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="{% url 'AddDeviceView' slug=slug %}"><button class="btn btn-primary">+</button></a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block ExtraJavaScript %}
	{% for jsPartial in devices|getUniqueJsPartials %}
		{% if jsPartial != '' %}
			{% include jsPartial %}
		{% endif %}
	{% endfor %}
	
	<script>
		function httpGet(theUrl) {
			var xmlHttp = null;
			
			xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", theUrl, false );
			xmlHttp.send( null );
			return xmlHttp.responseText;
		}
	</script>
{% endblock %}
