{% extends 'OctaHomeCore/baseWithNavBar.html' %}

{% block title %} Settings - Account {% endblock %}

{% block AccountNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Actions</h1>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Name</th>
					<th>Type</th>
					<th>Action Groups</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for action in actions %}
					<tr>
						<td>{{ action.id }}</td>
						<td>{{ action.Name }}</td>
						<td>{{ action.getTypeName }}</td>
						<td>
							<ul style="padding-left: 20px;">
								{% for actionGroup in action.ActionGroups.all %}
									<li>{{ actionGroup.Name }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<button class="btn btn-success">Trigger</button>
							<button class="btn btn-primary" style="margin-left:5px;">Edit</button>
							<button class="btn btn-danger" style="margin-left:5px;">Delete</button>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="{% url 'SettingsPage' page='AddAction' %}"><button class="btn btn-primary">+</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block ExtraJavaScript %}
{% endblock %}
