{% extends 'OctaHomeCore/baseWithNavBar.html' %}

{% block title %} Settings - Account {% endblock %}

{% block AccountNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Two-Factor Authentication</h1>
	</div>
	<label>Two-Factor Authentication Status:</label>
	{% if user.authy_id != "" %}
		<p class="text-success">Enabled</p>
	{% else %}
		<p class="text-danger" style="position: inline;">Disabled</p>
	{% endif %}
	{% if user.authy_id != "" %}
		<p>
			<a href="{% url 'Account' %}?command=removeTwoFactorAuthentication"><button class="btn btn-danger" >Disable Two-Factor Authentication</button></a>
		</p>
	{% else %}
		<form action="{% url 'Account' %}?command=addTwoFactorAuthentication" method="post">
			{% csrf_token %}
			<label>Add Two-Factor Authentication:</label>
			{% if error %}
	        	<div class="alert alert-danger">{{error}}</div>
	        {% endif %}
			<br>
			<label>Email:</label>
			<input class="form-control" style="width: 200px;" name="email" type="text" value="" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"/>
			<br>
			<label>Phone Area Code:</label>
			<p/>
			<select id="authy-countries" class="form-control" style="width: 200px;" name="phonearea"></select>
			<br>
			<br>
			<label>Phone Number:</label>
			<input class="form-control" style="width: 200px;" id="authy-cellphone" name="phonenumber"  type="text" value=""/>
			<br>
			<button class="btn btn-large btn-success" type="submit">Submit</button>
		</form>
	{% endif %}
{% endblock %}

{% block ExtraJavaScript %}
<link href="{{STATIC_URL}}css/bootstrap-editable.css" rel="stylesheet"/>
<script src="{{STATIC_URL}}js/bootstrap-editable.js"></script>
<script>	
	$(document).ready(function() {
		$.fn.editable.defaults.ajaxOptions = {type: "POST"};
		//$.fn.editable.defaults.mode = 'inline';
		//$('#userTable s').editable(); //Edit All Users Page
		$('s').editable({
			params: {
				csrfmiddlewaretoken: '{{csrfToken}}'
			}
		}); //Edit CurrentUserPage
	});
</script>
{% endblock %}

{% block extraCSS %}
	<link href="https://www.authy.com/form.authy.min.css" media="screen" rel="stylesheet" type="text/css">
	<script src="https://www.authy.com/form.authy.min.js" type="text/javascript"></script>
{% endblock %}