{% extends 'baseWithNavBar.html' %}
{% load my_filters %}

{% block title %} Settings - Device Input {% endblock %}

{% block AccountNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Input Devices</h1>
	</div>
	<h2>Button Devices</h2>
	<table id="buttonTable" class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Room</th>
				<th>Device Name</th>
				<th>Button One Action</th>
				<th>Button Two Action</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ButtonDevice in ButtonDevices %}
				<tr>
				<td>{{ButtonDevice.id}}</td>
				<td>{{ButtonDevice.Room.Name|replaceUnderscores}}</td>
				<td>{{ButtonDevice.Name|replaceUnderscores}}</td>
				<td>
					<select class="form-control" id="{{ButtonDevice.id}}buttonOneSelect" onchange="buttonActionChanged('{{ButtonDevice.id}}', '1')">
						{% for aTask in Tasks %}
							{% if aTask.name == ButtonDevice.ButtonOneAction.name %}
								<option value="{{aTask.id}}" selected>{{aTask.name|replaceUnderscores}}</option>
							{% else %}
								<option value="{{aTask.id}}">{{aTask.name|replaceUnderscores}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
				<td>
					<select class="form-control" id="{{ButtonDevice.id}}buttonTwoSelect" onchange="buttonActionChanged('{{ButtonDevice.id}}', '2')">
						{% for aTask in Tasks %}
							{% if aTask.name == ButtonDevice.ButtonTwoAction.name %}
								<option value="{{aTask.id}}" selected>{{aTask.name|replaceUnderscores}}</option>
							{% else %}
								<option value="{{aTask.id}}">{{aTask.name|replaceUnderscores}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
				<td><button class="btn btn-danger">Delete</button></td>
				</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="/DeviceInput/?page=addButtonDevice"><button class="btn btn-primary">+</button></a></td>
			</tr>
		</tbody>
	</table>
	<h2>Motion Devices</h2>
	<table id="motionTable" class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Room</th>
				<th>Device Name</th>
				<th>Triggered State</th>
				<th>Trigger Action</th>
				<th>Time Out Action</th>
				<th>Time Out Time</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for MotionDevice in MotionDevices %}
				<tr>
					<td>{{MotionDevice.id}}</td>
					<td>{{MotionDevice.Room.Name|replaceUnderscores}}</td>
					<td>{{MotionDevice.Name|replaceUnderscores}}</td>
					<td>
						{% if MotionDevice.Activated %}
							<p class="text-danger">Triggered</p>
						{% else %}
							<p class="text-success">Untriggered</p>
						{% endif %}
					</td>
					<td>
						<select class="form-control">
							{% for aTask in Tasks %}
								{% if aTask.name == MotionDevice.TriggerAction.name %}
									<option selected>{{aTask.name|replaceUnderscores}}</option>
								{% else %}
									<option>{{aTask.name|replaceUnderscores}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
					<td>
						<select class="form-control">
							{% for aTask in Tasks %}
							{% if aTask.name == MotionDevice.TimeOutAction.name %}
								<option selected>{{aTask.name|replaceUnderscores}}</option>
							{% else %}
								<option>{{aTask.name|replaceUnderscores}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
					<td>{{MotionDevice.WaitTime}}S</td>
					<td><button class="btn btn-danger">Delete</button></td>
				</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="/DeviceInput/?page=addMotionDevice"><button class="btn btn-primary">+</button></a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block ExtraJavaScript %}
	<script>
		function buttonActionChanged(deviceId, buttonId) {
			if (buttonId == '1') {
				var selectedTask = ''
				var url = '{% url 'DeviceInput' %}?command=buttonActionChanged&deviceId=' + deviceId + '&inputType=' + buttonId + '&selectedActionId=' + selectedTask
				$.get(url, function(data){}
			} else if (buttonId == '2') {
				var selectedTask = ''
				var url = '{% url 'DeviceInput' %}?command=buttonActionChanged&deviceId=' + deviceId + '&inputType=' + buttonId + '&selectedActionId=' + selectedTask
				$.get(url, function(data){}
			}
		}
	</script>
{% endblock %}