{% extends 'OctaHomeCore/base.html' %}
{% load my_filters %}

{% block PageContent %}
	<!-- Docs nav
	================================================== -->
	<div class="col-md-3 bs-docs-sidebar">
		{% block NavBarItems %}
			{% if sideBarName and sideBarName != "" %}
				{% get_menu_with_name sideBarName %}
			{% endif %}
		{% endblock %}
	</div>
	<div class="col-md-9 pageArea">
		<!-- Page Content
		================================================== -->
		<section id="content">
			{% block PageArea %}
				<div class="page-header">
					<h1>{{PageAreaTitle|safe}}</h1>
				</div>
				{{PageAreaContent|safe}}
			{% endblock %}
		</section>
	</div>
{% endblock %}
