{% extends 'OctaHomeCore/baseWithNavBar.html' %}
{% load my_filters %}

{% block title %} Lights {% endblock %}

{% block LightsNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Lights</h1>
	</div>
	<table id="lightTable" class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Light Name</th>
				<th>Room</th>
				<th>State</th>
				<th>Controls</th>
			</tr>
		</thead>
		<tbody>
		{% for alight in lights %}
			{% include alight.ViewPartial|add:".html" %}
		{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				{% if house and room %}
					<td><a href="{% url 'LightPage' page='AddLight' house=house room=room %}?next={% url 'Lights' house=house room=room  %}"><button class="btn btn-primary">+</button></a></td>
				{% elif house %}
					<td><a href="{% url 'LightPage' page='AddLight' house=house %}?next={% url 'Lights' house=house %}"><button class="btn btn-primary">+</button></a></td>
				{% else %}
					<td><a href="{% url 'LightPage' page='AddLight' %}?next={% url 'Lights' %}"><button class="btn btn-primary">+</button></a></td>
				{% endif %}
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block ExtraJavaScript %}
	{% for jsPartial in lights|getUniqueJsPartials %}
		{% if jsPartial != '' %}
			{% include jsPartial %}
		{% endif %}
	{% endfor %}
	
	<script>
		function httpGet(theUrl) {
			var xmlHttp = null;
			
			xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", theUrl, false );
			xmlHttp.send( null );
			return xmlHttp.responseText;
		}
	</script>
{% endblock %}
