{% extends 'pages/Proxmox/ProxmoxTemplate.html' %}
{% load proxmox_name_convertion %}

{% block ProxmoxTitle %}"{{Vz.name}}" Vz Container{% endblock %}

{% block ProxmoxPageArea %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
		<li><a href="#settings" data-toggle="tab">Settings</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="summary">
			<div class="col-md-4">
				<h4>Server Status:</h4>
				{% if Vz.status == "running" %}
					<h4 id="state" class="text-success">Running</h4>
				{% else %}
					<h4 id="state" class="text-danger">Stopped</h4>
				{% endif %}
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<h4>Total Storage:</h4>
				{% for storageDevice in StorageDevices.nodes %}
					{% if storageDevice.node == Node %}
						<p>{{storageDevice.usedGb|floatformat:2}} GB Used / {{storageDevice.totalGb|floatformat:2}} GB Avalable</p>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: {% widthratio storageDevice.usedGb storageDevice.totalGb 100 %}%"></div>
						</div>
					{% endif %}
				{% endfor %}
				<h4>Uptime:</h4>
				{% for uptimeItem in ServerStatuses.uptimes %}
						{% if uptimeItem.node == Node %}
							<p>Uptime: {{uptimeItem.uptime}}</p>
						{% endif %}
				{% endfor %}
				<h4>Basic Controls:</h4>
				<div>
					<p>
						<button type="button" class="btn btn-info" style="width: 79px" data-toggle="modal" data-target="#migrateWindow">Migrate</button>
						<button type="button" class="btn btn-info" style="width: 83px">Console</button>
						{% if Vz.status == "running" %}
								<button onclick="startClicked" id="startButton" type="button" type="button" class="btn btn-success" style="width: 62px" disabled>Start</button>
							</p>
							<p>
								<button onclick="shutdownClicked()" id="shutdownButton" type="button" class="btn btn-warning">Shutdown</button>
								<button onclick="stopClicked()" id="stopButton" type="button" class="btn btn-warning">Stop</button>
						{% else %}
								<button onclick="startClicked()" id="startButton" type="button" class="btn btn-success" style="width: 62px">Start</button>
							</p>
							<p>
								<button onclick="shutdownClicked()" id="shutdownButton" type="button" class="btn btn-warning" disabled>Shutdown</button>
								<button onclick="stopClicked()" id="stopButton" type="button" class="btn btn-warning" disabled>Stop</button>
						{% endif %}
						<button type="button" class="btn btn-danger">Remove</button>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Storage Devices:</h4>
				 <div class="list-group" style="height: 300px !important; overflow: scroll;">
					{% for storageDevice in StorageDevices.devices %}
						<a class="list-group-item">
							<h4 class="list-group-item-heading">Node: {{storageDevice.node}}</h4>
							<h4 class="list-group-item-heading">Devce: {{storageDevice.name}}</h4>
							<p class="list-group-item-text">{{storageDevice.usedGb|floatformat:2}} GB Used / {{storageDevice.totalGb|floatformat:2}} GB Avalable</p>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" style="width: {% widthratio storageDevice.usedGb storageDevice.totalGb 100 %}%"></div>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4">
				<h4>Past Tasks:</h4>
				
			</div>
		</div>
		<div class="tab-pane" id="settings">
			
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade bs-modal-sm" id="migrateWindow" tabindex="-1" role="dialog" aria-labelledby="Migrate Container" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Migrate Container</h4>
				</div>
				<div class="modal-body">
					<p>Please Select The Target:</p>
					<select class="form-control" id="migrateTarget">
						{% for aNode in ServerStatuses.uptimes %}
							<option>{{aNode.node}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" onclick="submitMigrate()" data-dismiss="modal">Migrate Server</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block ExtraJavaScript %}
	<script>
		function submitMigrate() {
			target = document.getElementById("migrateTarget").value;
			url = '{% url 'Proxmox' %}?command=migrateCT&node={{node}}&ct={{Vz.vmid}}&target=' + target;
			httpGet(url);
		}
		function startClicked(){
			httpGet('{% url 'Proxmox' %}?command=startCT&node={{node}}&ct={{Vz.vmid}}')
			
			document.getElementById("startButton").disabled = true;
			document.getElementById("shutdownButton").disabled = false;
			document.getElementById("stopButton").disabled = false;
			document.getElementById("state").innerHTML = "Running";
			document.getElementById("state").className = "text-success";
		}
		function shutdownClicked(){
			httpGet('{% url 'Proxmox' %}?command=shutdownCT&node={{node}}&ct={{Vz.vmid}}')
			
			document.getElementById("startButton").disabled = false;
			document.getElementById("shutdownButton").disabled = true;
			document.getElementById("stopButton").disabled = true;
			document.getElementById("state").innerHTML = "Stopped";
			document.getElementById("state").className = "text-danger";
		}
		function stopClicked(){
			httpGet('{% url 'Proxmox' %}?command=stopCT&node={{node}}&ct={{Vz.vmid}}')
			
			document.getElementById("startButton").disabled = false;
			document.getElementById("shutdownButton").disabled = true;
			document.getElementById("stopButton").disabled = true;
			document.getElementById("state").innerHTML = "Stopped";
			document.getElementById("state").className = "text-danger";
		}
		function httpGet(theUrl) {
		    var xmlHttp = null;
		    xmlHttp = new XMLHttpRequest();
		    xmlHttp.open( "GET", theUrl, false );
		    xmlHttp.send( null );
		    return xmlHttp.responseText;
	    }
	</script>
{% endblock %}