<script>
	function onOffSwitchState(id, type, url) {
		lightObject = "light" + id + "OnOff";
		if (document.getElementsByName(lightObject)[0].innerHTML == "Turn On") {
			turnOn(id, type, url)
		} else {
			turnOff(id, type, url)
		}
	}
	
	function onOffTurnOff(id, type, url) {
		httpGet(url);
		lightObject = "light" + id + "OnOff";
		lightState = "light" + id + "State";
		document.getElementsByName(lightObject)[0].innerHTML = "Turn On";
		document.getElementsByName(lightObject)[0].className = "btn btn-success";
		document.getElementsByName(lightState)[0].innerHTML = "Off";
		document.getElementsByName(lightState)[0].className = "text-error";
	}
	
	function onOffTurnOn(id, type, url) {
		httpGet(url);
		lightObject = "light" + id + "OnOff";
		lightDropDown = "light" + id + "DropDown";
		
		document.getElementsByName(lightObject)[0].innerHTML = "Turn Off";
		document.getElementsByName(lightObject)[0].className = "btn btn-danger";
		document.getElementsByName(lightState)[0].innerHTML = "On";
		document.getElementsByName(lightState)[0].className = "text-success";
	}
</script>