{% load my_filters %}

<tr>
	<td>{{alight.id}}</td>
	<td>{{alight.Name | replaceUnderscores}}</td>
	<td>{{alight.Room.Name | replaceUnderscores}}</td>
	<td>
		<p class="text-danger">R= 
		<s id="rgbR{{alight.id}}" name="light{{alight.id}}Red" data-type="text" data-pk="1" data-url="{% url 'SingleDeviceCommand' command='setR' deviceType=alight|getClassName deviceId=alight.id %}" data-original-title="Set Red Level">{{alight.getDisplayR}}</s>, </p>
		<p class="text-success">G= 
		<s id="rgbG{{alight.id}}" name="light{{alight.id}}Green" data-type="text" data-pk="1" data-url="{% url 'LightCommand' command='setG' lightType=alight|getClassName lightId=alight.id %}" data-original-title="Set Green Level">{{alight.getDisplayG}}</s>, </p>
		<p class="text-info">B= 
		<s id="rgbB{{alight.id}}" name="light{{alight.id}}Blue" data-type="text" data-pk="1" data-url="{% url 'LightCommand' command='setB' lightType=alight|getClassName lightId=alight.id %}" data-original-title="Set Blue Level">{{alight.getDisplayB}}</s></p>
	</td>
	<td>
		<div class="btn-group">
			{% if alight.IsOn != True %}
				<button class="btn btn-success" name="light{{alight.id}}OnOff" onClick="RGBSwitchState('{{alight.id}}', '{{alight|getClassName}}', '{% url 'SingleDeviceCommand' command='setOnOff' deviceType=alight|getClassName deviceId=alight.id %}?value=On')">Turn On</button>
			{% else %}
				<button class="btn btn-danger" name="light{{alight.id}}OnOff" onClick="RGBSwitchState('{{alight.id}}', '{{alight|getClassName}}', '{% url 'SingleDeviceCommand' command='setOnOff' deviceType=alight|getClassName deviceId=alight.id %}?value=Off')">Turn Off</button>
			{% endif %}
			<a class="btn btn-primary" onClick="changeColour('{{alight.id}}')" rel="drevil"> Set Colour </a>
			<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
				 Dropdown 
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li role="presentation" class="dropdown-header">Scroll Modes</li>
				<li><a href="#" onClick="setScroll('{{alight.id}}', 'Off')">Off<i name="Light{{alight.id}}ScrollOff" class="{% if alight.Scroll == "Off" %}icon-ok{% endif %}pull-right"></i></a></li>
				{% for scrollMode in scrollModes %}
					<li><a href="#" onClick="setScroll('{{alight.id}}', '{{scrollMode.Name}}')">{{scrollMode.Name}}<i name="Light{{alight.id}}Scroll{{scrollMode.Name}}" class="{% if alight.Scroll == "{{scrollMode.Name}}" %}icon-ok{% endif %}pull-right"></i></a></li>
				{% endfor %}
				<li role="presentation" class="dropdown-header">Scenes</li>
				<li><a href="#" onClick="setScroll('{{alight.id}}', 'Off')">Movie<i name="Light{{alight.id}}ScrollOff" class="pull-right"></i></a></li>
			</ul>
		</div>
		<div id="colorpicker">
				<div class="my-farbtastic"></div>
		</div>
	</td>
</tr>