{% extends 'baseWithNavBar.html' %}
{% load my_filters %}

{% block title %} Lights {% endblock %}
{% block LightsNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Add Light</h1>
	</div>
	<script>
		function validateForm() {
			var username=document.forms["CreateLightForm"]["username"].value;
			if (username==null || username=="") {
				alert("Username must be filled out");
				return false;
			}
		}
	</script>
	<form action="{% url 'LightCommandWithOutLight' command='AddLight' %}" method="POST" onsubmit="return validateForm()" name="CreateLightForm">
		<fieldset>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{csrfmiddlewaretoken|safe}}"/>
			<label>Light Name:</label>
			<input type="text" name="name" class="form-control" style="width: 200px;" placeholder="Light Name..." maxlength="30" required pattern="[^]{3,30}">
			<br>
			<label>Room:</label>
			<select name="room" class="form-control" style="width: 200px;">
				{% for room in rooms %}
					<option name="{{ room.Name }}" value="{{ room.id }}">{{ room.Name }}</option>
				{% endfor %}
			</select>
			<br>
			<label>Ip Address:</label>
			<input type="text" name="ipaddress" class="form-control" style="width: 200px;" placeholder="Ip Address..." maxlength="30" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
			<br>
			<label>Port:</label>
			<input type="text" name="port" class="form-control" style="width: 200px;" placeholder="Port..." maxlength="30" required pattern="[^]{2,6}">
			<br>
			<label>Device Type:</label>
			<select name="devicetype" class="form-control" style="width: 200px;">
				{% for device in deviceName %}
					<option name="{{ device }}" value="{{ device }}">{{ device }}</option>
				{% endfor %}
			</select>
			<br>
			<button type="submit" class="btn btn-default">Add User</button>
		</fieldset>
	</form>
{% endblock %}
