{% extends 'baseWithNavBar.html' %}

{% block title %} Lights {% endblock %}

{% block LightsNavBarActive %} active {% endblock %}

{% block ExtraJavaScript %}
<link href="{{STATIC_URL}}css/bootstrap-editable.css" rel="stylesheet"/>
<script src="{{STATIC_URL}}js/bootstrap-editable.js"></script>
<script>
	$(document).ready(function() {
		$.fn.editable.defaults.ajaxOptions = {type: "GET"};
		$.fn.editable.defaults.mode = 'inline';
		$('#lightTable s').editable();
	});
	
	function switchState(id) {
		lightObject = "light" + id + "OnOff";
		if (document.getElementsByName(lightObject)[0].innerHTML == "Turn On") {
			turnOn(id)
		} else {
			turnOff(id)
		}
	}
	
	function turnOff(id) {
		lightObject = "light" + id + "OnOff";
		lightDropDown = "light" + id + "DropDown";
		lightState = "light" + id + "State";
		lightRedLevel = "light" + id + "Red";
		lightGreenLevel = "light" + id + "Green";
		lightBlueLevel = "light" + id + "Blue";
		document.getElementsByName(lightObject)[0].innerHTML = "Turn On";
		document.getElementsByName(lightObject)[0].className = "btn btn-success";
		if (document.getElementsByName(lightDropDown).length != 0){
			document.getElementsByName(lightDropDown)[0].className = "btn btn-success dropdown-toggle";
			document.getElementsByName(lightRedLevel)[0].innerHTML = "R=0";
			document.getElementsByName(lightGreenLevel)[0].innerHTML = "G=0";
			document.getElementsByName(lightBlueLevel)[0].innerHTML = "B=0";
		} else {
			document.getElementsByName(lightState)[0].innerHTML = "Off";
			document.getElementsByName(lightState)[0].className = "text-error";
		}
		url = "{% url 'Lights' %}?command=turnOff&lightId=" + id;
		httpGet(url);
	}
	
	function turnOn(id) {
		lightObject = "light" + id + "OnOff";
		lightDropDown = "light" + id + "DropDown";
		lightState = "light" + id + "State";
		lightRedLevel = "light" + id + "Red";
		lightGreenLevel = "light" + id + "Green";
		lightBlueLevel = "light" + id + "Blue";
		
		rUrl = "{% url 'Lights' %}?command=getR&lightId=" + id;
		gUrl = "{% url 'Lights' %}?command=getG&lightId=" + id;
		bUrl = "{% url 'Lights' %}?command=getB&lightId=" + id;
		
		url = "{% url 'Lights' %}?command=turnOn&lightId=" + id;
		httpGet(url);
		
		R = httpGet(rUrl);
		G = httpGet(gUrl);
		B = httpGet(bUrl);
		
		document.getElementsByName(lightObject)[0].innerHTML = "Turn Off";
		document.getElementsByName(lightObject)[0].className = "btn btn-danger";
		if (document.getElementsByName(lightDropDown).length != 0){
			document.getElementsByName(lightDropDown)[0].className = "btn btn-danger dropdown-toggle";
			document.getElementsByName(lightRedLevel)[0].innerHTML = "R=" + R;
			document.getElementsByName(lightGreenLevel)[0].innerHTML = "G=" + G;
			document.getElementsByName(lightBlueLevel)[0].innerHTML = "B=" + B;
		} else {
			document.getElementsByName(lightState)[0].innerHTML = "On";
			document.getElementsByName(lightState)[0].className = "text-success";
		}
	}
	
	function setScroll(lightId, ScrollState) {
		scrollMenuOffItem = "Light" + lightId + "ScrollOff"
		scrollMenuAllItem = "Light" + lightId + "ScrollAll"
		scrollMenuRedItem = "Light" + lightId + "ScrollRed"
		scrollMenuGreenItem = "Light" + lightId + "ScrollGreen"
		scrollMenuBlueItem = "Light" + lightId + "ScrollBlue"
		
		if (ScrollState == 'Off') document.getElementsByName(scrollMenuOffItem)[0].className = "icon-ok pull-right";
		else document.getElementsByName(scrollMenuOffItem)[0].className = "pull-right";
		if (ScrollState == 'All') document.getElementsByName(scrollMenuAllItem)[0].className = "icon-ok pull-right";
		else document.getElementsByName(scrollMenuAllItem)[0].className = "pull-right";
		if (ScrollState == 'Red') document.getElementsByName(scrollMenuRedItem)[0].className = "icon-ok pull-right";
		else document.getElementsByName(scrollMenuRedItem)[0].className = "pull-right";
		if (ScrollState == 'Green') document.getElementsByName(scrollMenuGreenItem)[0].className = "icon-ok pull-right";
		else document.getElementsByName(scrollMenuGreenItem)[0].className = "pull-right";
		if (ScrollState == 'Blue') document.getElementsByName(scrollMenuBlueItem)[0].className = "icon-ok pull-right";
		else document.getElementsByName(scrollMenuBlueItem)[0].className = "pull-right";
		
		url = "{% url 'Lights' %}?command=setScroll&lightId=" + lightId + "&ScrollMode=" + ScrollState;
		httpGet(url);
	}
	
	function httpGet(theUrl) {
		var xmlHttp = null;
		
		xmlHttp = new XMLHttpRequest();
		xmlHttp.open( "GET", theUrl, false );
		xmlHttp.send( null );
		return xmlHttp.responseText;
	}
	
	window.setInterval(function(){
		/// call your function here
	}, 10000);
</script>
{% endblock %}
