{% extends 'baseWithNavBar.html' %}
{% load my_filters %}

{% block title %} Lights {% endblock %}

{% block LightsNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Lights</h1>
	</div>
	<table id="lightTable" class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Light Name</th>
				<th>Room</th>
				<th>State</th>
				<th>Controls</th>
			</tr>
		</thead>
		<tbody>
		{% for alight in lights %}
			<tr>
				<td>{{alight.id}}</td>
				<td>{{alight.Name | replaceUnderscores}}</td>
				<td>{{alight.Room.Name | replaceUnderscores}}</td>
				{% if "RGBLightDevice" in alight.getObjectType %}
					<td>
						<p class="text-danger">R= 
						<s id="rgbR{{alight.id}}" name="light{{alight.id}}Red" data-type="text" data-pk="1" data-url="{% url 'LightCommand' command='setR' lightType=alight.getObjectType|last lightId=alight.id %}" data-original-title="Set Red Level">{{alight.R}}</s>, </p>
						<p class="text-success">G= 
						<s id="rgbG{{alight.id}}" name="light{{alight.id}}Green" data-type="text" data-pk="1" data-url="{% url 'LightCommand' command='setG' lightType=alight.getObjectType|last lightId=alight.id %}" data-original-title="Set Green Level">{{alight.G}}</s>, </p>
						<p class="text-info">B= 
						<s id="rgbB{{alight.id}}" name="light{{alight.id}}Blue" data-type="text" data-pk="1" data-url="{% url 'LightCommand' command='setB' lightType=alight.getObjectType|last lightId=alight.id %}" data-original-title="Set Blue Level">{{alight.B}}</s></p>
					</td>
				{% else %}
					{% if alight.IsOn %}
						<td name="light{{alight.id}}State" class="text-success">{{alight.LightState}}</td>
					{% else %}
						<td name="light{{alight.id}}State" class="text-danger">{{alight.LightState}}</td>
					{% endif %}
				{% endif %}
			<td>
				{% if "RGBLightDevice" in alight.getObjectType %}
					<div class="btn-group">
						{% if alight.IsOn != True %}
							<button class="btn btn-success" name="light{{alight.id}}OnOff" onClick="switchState('{{alight.id}}', '{{alight.getObjectType|last}}')">Turn On</button>
						{% else %}
							<button class="btn btn-danger" name="light{{alight.id}}OnOff" onClick="switchState('{{alight.id}}', '{{alight.getObjectType|last}}')">Turn Off</button>
						{% endif %}
						<a class="btn btn-primary" onClick="changeColour('{{alight.id}}')" rel="drevil"> Set Colour </a>
						<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
							 Dropdown 
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li role="presentation" class="dropdown-header">Scroll Modes</li>
							<li><a href="#" onClick="setScroll('{{alight.id}}', 'Off')">Off<i name="Light{{alight.id}}ScrollOff" class="{% if alight.Scroll == "Off" %}icon-ok{% endif %}pull-right"></i></a></li>
							{% for scrollMode in scrollModes %}
								<li><a href="#" onClick="setScroll('{{alight.id}}', '{{scrollMode.Name}}')">{{scrollMode.Name}}<i name="Light{{alight.id}}Scroll{{scrollMode.Name}}" class="{% if alight.Scroll == "{{scrollMode.Name}}" %}icon-ok{% endif %}pull-right"></i></a></li>
							{% endfor %}
							<li role="presentation" class="dropdown-header">Scenes</li>
							<li><a href="#" onClick="setScroll('{{alight.id}}', 'Off')">Movie<i name="Light{{alight.id}}ScrollOff" class="pull-right"></i></a></li>
						</ul>
					</div>
					
					
					<div id="colorpicker">
							<div class="my-farbtastic"></div>
					</div>
					
					{% else %}
						{% if alight.IsOn %}
							<button class="btn btn-danger" name="light{{alight.id}}OnOff" onClick="switchState('{{alight.id}}', '{{alight.getObjectType|last}}')">Turn Off</button>
						{% else %}
							<button class="btn btn-success" name="light{{alight.id}}OnOff" onClick="switchState('{{alight.id}}', '{{alight.getObjectType|last}}')">Turn On</button>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				{% if house and room %}
					<td><a href="{% url 'LightPage' page='AddLight' house=house room=room %}"><button class="btn btn-primary">+</button></a></td>
				{% elif house %}
					<td><a href="{% url 'LightPage' page='AddLight' house=house %}"><button class="btn btn-primary">+</button></a></td>
				{% else %}
					<td><a href="{% url 'LightPage' page='AddLight' %}"><button class="btn btn-primary">+</button></a></td>
				{% endif %}
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block ExtraJavaScript %}
	<link href="{{STATIC_URL}}css/bootstrap-editable.css" rel="stylesheet"/>
	<script src="{{STATIC_URL}}js/bootstrap-editable.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/farbtastic.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}css/farbtastic.css" type="text/css" />
	
	<script>
		$(document).ready(function() {
			$.fn.editable.defaults.ajaxOptions = {type: "POST"};
			$.fn.editable.defaults.mode = 'inline';
			$('#lightTable s').editable({
				params: {
					csrfmiddlewaretoken: '{{csrfmiddlewaretoken}}'
				}
			});
		});
		
		function switchState(id, type) {
			lightObject = "light" + id + "OnOff";
			if (document.getElementsByName(lightObject)[0].innerHTML == "Turn On") {
				turnOn(id, type)
			} else {
				turnOff(id, type)
			}
		}
		
		function turnOff(id, type) {
			lightObject = "light" + id + "OnOff";
			lightState = "light" + id + "State";
			lightRedLevel = "light" + id + "Red";
			lightGreenLevel = "light" + id + "Green";
			lightBlueLevel = "light" + id + "Blue";
			document.getElementsByName(lightObject)[0].innerHTML = "Turn On";
			document.getElementsByName(lightObject)[0].className = "btn btn-success";
			if (document.getElementsByName(lightRedLevel).length != 0){
				document.getElementsByName(lightRedLevel)[0].innerHTML = "0";
				document.getElementsByName(lightGreenLevel)[0].innerHTML = "0";
				document.getElementsByName(lightBlueLevel)[0].innerHTML = "0";
			} else {
				document.getElementsByName(lightState)[0].innerHTML = "Off";
				document.getElementsByName(lightState)[0].className = "text-error";
			}
			url = "{% url 'LightCommandWithOutLight' command='turnOff' %}" + type + "/" +  id + "/";
			httpGet(url);
		}
		
		function turnOn(id, type) {
			lightObject = "light" + id + "OnOff";
			lightDropDown = "light" + id + "DropDown";
			lightState = "light" + id + "State";
			lightRedLevel = "light" + id + "Red";
			lightGreenLevel = "light" + id + "Green";
			lightBlueLevel = "light" + id + "Blue";
			
			rUrl = "{% url 'LightCommandWithOutLight' command='getR' %}" + type + "/" + id + "/";
			gUrl = "{% url 'LightCommandWithOutLight' command='getG' %}" + type + "/" + id + "/";
			bUrl = "{% url 'LightCommandWithOutLight' command='getB' %}" + type + "/" + id + "/";
			
			url = "{% url 'LightCommandWithOutLight' command='turnOn' %}" + type + "/" + id + "/";
			httpGet(url);
			
			R = httpGet(rUrl);
			G = httpGet(gUrl);
			B = httpGet(bUrl);
			
			document.getElementsByName(lightObject)[0].innerHTML = "Turn Off";
			document.getElementsByName(lightObject)[0].className = "btn btn-danger";
			if (document.getElementsByName(lightRedLevel).length != 0){
				document.getElementsByName(lightRedLevel)[0].innerHTML = R;
				document.getElementsByName(lightGreenLevel)[0].innerHTML = G;
				document.getElementsByName(lightBlueLevel)[0].innerHTML = B;
			} else {
				document.getElementsByName(lightState)[0].innerHTML = "On";
				document.getElementsByName(lightState)[0].className = "text-success";
			}
		}
		
		function setScroll(lightId, ScrollState) {
			scrollMenuOffItem = "Light" + lightId + "ScrollOff"
			if (ScrollState == 'Off') document.getElementsByName(scrollMenuOffItem)[0].className = "icon-ok pull-right";
			else document.getElementsByName(scrollMenuOffItem)[0].className = "pull-right";
			
		{% for scrollMode in scrollModes %}
			scrollMenu{{scrollMode.Name}}Item = "Light" + lightId + "Scroll{{scrollMode.Name}}"
			if (ScrollState == '{{scrollMode.Name}}') document.getElementsByName(scrollMenu{{scrollMode.Name}}Item)[0].className = "icon-ok pull-right";
			else document.getElementsByName(scrollMenu{{scrollMode.Name}}Item)[0].className = "pull-right";
		{% endfor %}
			
			url = "{% url 'Lights' protocal='html' %}?command=setScroll&lightId=" + lightId + "&ScrollMode=" + ScrollState;
			httpGet(url);
		}
		var currentPickerColour;
		function changeColour(id) {
			var rId = "rgbR" + id;
			var gId = "rgbG" + id;
			var bId = "rgbB" + id;
			
			var rValue = document.getElementById(rId).innerHTML;
			var gValue = document.getElementById(gId).innerHTML;
			var bValue = document.getElementById(bId).innerHTML;
			
			var hexValue = rgbToHex(rValue, gValue, bValue);
			
			var currentPickerColour = hexValue;
		}
		
		function callback(color) {
			currentPickerColour=color;
			
			var colour = convertHexToRGB(color);
			var postUrl = "/HomeControl/SetRGBLightNoAuth.php";
			var dataString = 'lightId='+ '1' + '&r=' + colour[0] + '&g=' + colour[1] + '&b=' + colour[2]; 
			$.ajax({  
				type: "POST",  
				url: postUrl,  
				data: dataString,  
				success: function() {  
				}  
			});
		}
		
		function convertHexToRGB(hex) {
			var hex = parseInt(((hex.indexOf('#') > -1) ? hex.substring(1) : hex), 16);
			return [hex >> 16,(hex & 0x00FF00) >> 8,(hex & 0x0000FF)];
		}
		
		function componentToHex(c) {
			var hex = c.toString(16);
			return hex.length == 1 ? "0" + hex : hex;
		}
		
		function rgbToHex(r, g, b) {
			return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
		}
		
		$(document).ready(function() {
			$("body").popover({
				trigger: "click",
				placement: "bottom",
				title: "Colorpicker",
				content: $("#colorpicker"),
				selector: "a[rel=drevil]",
				html: true
			}).on("click", "a[rel=drevil]", function() {
				var picker = $.farbtastic('#colorpicker');
				picker.linkTo(callback);
				picker.setColor(this.currentPickerColour);
			});
		});
		
		function httpGet(theUrl) {
			var xmlHttp = null;
			
			xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", theUrl, false );
			xmlHttp.send( null );
			return xmlHttp.responseText;
		}
		
		window.setInterval(function(){
			/// call your function here
		}, 10000);
	</script>
{% endblock %}
