{% extends 'base.html' %}

{% block title %} Home Statistics {% endblock %}

{% block HomeStatsNavBarActive %} active {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Home Statistics</h1>
	</div>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
		<li><a href="#lights" data-toggle="tab">Lights</a></li>
		<li><a href="#deviceinput" data-toggle="tab">Device Inputs</a></li>
		<li><a href="#proxmox" data-toggle="tab">Proxmox</a></li>
		<li><a href="#system" data-toggle="tab">System</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="summary">
			<div class="container-fluid container">
				<div class="row">
					<div class="col-md-4">
						<h4>Lights Currently On:</h4>
						
						<h4 class="text-success">{# Stats.lightsOn #}</h4>
					</div>
					<div class="col-md-4">
						<h4>Row 2</h4>
					</div>
					<div class="col-md-4">
						<h4>Row 3</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="lights">
			<div class="container-fluid container">
				<div class="row">
					<div class="col-md-4">
						<h4>Lights Currently On:</h4>
						<h4 class="text-success">{# Stats.lightsOn #}</h4>
					</div>
					<div class="col-md-4">
						<h4>Number Of Lights:</h4>
						<h4 class="text-success">{{ Lights.count }}</h4>
					</div>
					<div class="col-md-4">
						<h4>Row 3</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="deviceinput">
			<div class="container-fluid container">
				<div class="row">
					<div class="col-md-4">
						<h4>Motion Device Armed:</h4>
						<h4 class="text-success">{{Stats.motionDevicesArmed}}</h4>
						<h4>Motion Device Activated:</h4>
						<h4 class="text-success">{{Stats.motionDevicesActivated}}</h4>
					</div>
					<div class="col-md-4">
						<h4>Row 2</h4>
					</div>
					<div class="col-md-4">
						<h4>Row 3</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="proxmox">
			<div class="container-fluid container">
				<div class="row">
					<div class="col-md-4">
						<h4>Lights Currently On:</h4>
						<p class="text-success">12</p>
					</div>
					<div class="col-md-4">
						<h4>Number Of Lights:</h4>
						<p class="text-success">{{ Lights }}</p>
					</div>
					<div class="col-md-4">
						<h4>Row 3</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="system">
			<div class="container-fluid container">
				<div class="row">
					<div class="col-md-4">
						<h4>Lights Currently On:</h4>
						<p class="text-success">12</p>
					</div>
					<div class="col-md-4">
						<h4>Row 2</h4>
					</div>
					<div class="col-md-4">
						<h4>Row 3</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}