{% extends 'OctaHomeCore/baseWithNavBar.html' %}
{% load proxmox_name_convertion %}

{% block ProxmoxNavBarActive %} active {% endblock %}

{% block title %} Proxmox {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>{% block ProxmoxTitle %}{% endblock %}</h1>
	</div>
		{% block ProxmoxPageArea %}{% endblock %}
		<div class="wizard" id="addServerWizard" data-title="Create Server">
			<div class="wizard-card" data-cardname="node">
				<h3>Node And ID</h3>
				<p>Location:</p>
				<select name="node" class="form-control wizard-ns-select" style="width: 300px;">
					{% for node in serverInfo.nodes %}
						<option>{{node}}</option>
					{% endfor %}
				</select>
				<br>
				<p>Vm/Container Id:</p>
				<input type="text" class="form-control" id="vmid" name="vmid" placeholder="Auto" style="width: 300px;">
			</div>
			<div class="wizard-card" data-cardname="template">
				<h3>Template</h3>
				<select class="form-control wizard-ns-select" name="template" style="width: 350px;">
					{% for template in serverInfo.templates.0.templates %}
						<option>{{template}}</option>
					{% endfor %}
				</select>
        	</div>
        	<div class="wizard-card" data-cardname="Machine Specs">
        		<h3>Machine Specs</h3>
        		<div class="row">
        			<div class="col-md-6">
        				<p>Number Of CPU:</p>
        				<input type="text" class="form-control" id="cpu" name="cpu" value="1" style="width: 150px;">
        				<p></p>
        				<p>Disk Size:</p>
        				<input type="text" class="form-control" id="disk" name="disk" value="4" style="width: 150px;">
        			</div>
        			<div class="col-md-6">
        				<p>Memory Size:</p>
        				<input type="text" class="form-control" id="memory" name="memory" value="512" style="width: 150px;">
        				<p></p>
        				<p>Swap Size:</p>
        				<input type="text" class="form-control" id="swap" name="swap" value="512" style="width: 150px;">
        			</div>
        		</div>
        	</div>
        	<div class="wizard-card" data-cardname="Networking">
        		<h3>Networking</h3>
        		<p>Hostname:</p>
        		<input type="text" class="form-control" id="hostname" name="hostname" placeholder="Hostname..." style="width: 300px;">
        		<p></p>
        		<p>IP Address:</p>
        		<input type="text" class="form-control" id="ipaddress" name="ipaddress" placeholder="IP Address.." style="width: 300px;">
        	</div>
        	<div class="wizard-card" data-cardname="Password">
        		<h3>Password</h3>
        		<input type="password" class="form-control" id="serverpw" name="serverpw" placeholder="Password..." style="width: 300px;">
        		<input type="hidden" name="csrfmiddlewaretoken" value="{{serverInfo.csrftoken}}">
        	</div>
        	<div class="wizard-success">
        		submission succeeded!
        	</div>
			<div class="wizard-error">
				submission had an error
			</div>
			<div class="wizard-failure">
				submission failed
        	</div>
		</div>
	</div>
{% endblock %}

{% block HomeHeadJavaScript %}
	<link href="{{STATIC_URL}}css/bootstrap-wizard.css" rel="stylesheet">
	<script src="{{STATIC_URL}}js/bootstrap-wizard.js" type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			var wizard = $('#addServerWizard').wizard({
				submitUrl: "/Proxmox/?command=addcomplete"
			});
			$('#open-wizard').click(function(e) {
				e.preventDefault();
				wizard.show();
			});
			$('#addServer').click(function(e) {
				wizard.show();
			});
			
			wizard.on("submit", function(wizard) {
				$.ajax({
					type: "POST",
					url: wizard.args.submitUrl,
					data: wizard.serialize(),
					dataType: "json"
				}).done(function(response) {
					wizard.submitSuccess();         // displays the success card
					wizard.hideButtons();           // hides the next and back buttons
					wizard.updateProgressBar(0);    // sets the progress meter to 0
				}).fail(function() {
					wizard.submitError();           // display the error card
					wizard.hideButtons();           // hides the next and back buttons
				});
			});
		});
		
	</script>
{% endblock %}