{% extends 'base.html' %}

{% block title %} Home Statistics {% endblock %}

{% block HomeStatsNavBarActive %} active {% endblock %}

{% block PageContent %}
	<div class="page-header">
		<h1>Home Statistics</h1>
	</div>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
		<li><a href="#lights" data-toggle="tab">Lights</a></li>
		<li><a href="#proxmox" data-toggle="tab">Proxmox</a></li>
		<li><a href="#system" data-toggle="tab">System</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="summary">
			<p>This Page Is Currently Under Construction</p>
		</div>
		<div class="tab-pane" id="lights">
			<p>This Page Is Currently Under Construction</p>
		</div>
		<div class="tab-pane" id="proxmox">
			<p>This Page Is Currently Under Construction</p>
		</div>
		<div class="tab-pane" id="system">
			<p>This Page Is Currently Under Construction</p>
		</div>
	</div>
{% endblock %}