{% extends 'baseWithNavBar.html' %}
{% load my_filters %} 

{% block AlarmNavBarActive %} active {% endblock %}

{% block title %} Alarm {% endblock %}

{% block PageArea %}
	<div class="page-header">
		<h1>Add Alarm</h1>
	</div>
	<form class="form-inline" action="/Alarm/?page=AddAlarmComplete" method="POST" name="CreateLightForm">
		<fieldset>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{csrfmiddlewaretoken|safe}}">
			<label>Time:</label>
			<br>
			<div class="form-group">
				<select name="timehour" class="form-control" style="width: 50px;">
					<option>12</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
				</select>
				<text> : </text>
				<select name="timeminutes" class="form-control" style="width: 50px;">
					<option>00</option>
					<option>05</option>
					<option>10</option>
					<option>15</option>
					<option>20</option>
					<option>25</option>
					<option>30</option>
					<option>35</option>
					<option>40</option>
					<option>45</option>
					<option>50</option>
					<option>55</option>
				</select>
				<text> </text>
				<select name="timeampm" class="form-control" style="width: 60px;">
					<option>AM</option>
					<option>PM</option>
				</select>
			</div>
			<br>
			<p></p>
			<label>Date:</label>
			<p></p>
			<div class="span5" id="sandbox-container">
				<input name="date" type="text" value="{% now "d/m/Y" %}">
			</div>
			<br>
			<br>
			<label>Recurrence:</label>
			<br>
			<select name="recurrence" class="form-control">
				<option>Single Occurance</option>
				<option>One A Hour</option>
				<option>One A Day</option>
				<option>One A Week</option>
				<option>One A Mounth</option>
			</select>
			<br>
			<p></p>
			<label>Task:</label>
			<p>
				<select class="btn form-control" name="task">
					{% for aTask in tasks %}
						<option>{{aTask.name | replaceUnderscores}}</option>
					{% endfor %}
				</select>
				<text> </text>
				<a href="/Alarm/?page=AddTask"><button type="button" class="btn btn-default">+</button></a>
			</p>
			<p></p>
			<label>State:</label>
			<br>
			<select name="state" class="form-control">
				<option>Enabled</option>
				<option>Disabled</option>
			</select>
			<br>
			<p></p>
			<label>Tasks User:</label>
			<br>
			<select name="tasksuser" class="form-control">
				<option>Current User</option>
				<option>System</option>
			</select>
			<br>
			<p></p>
			<button type="submit" class="btn btn-default">Add Alarm</button>
		</fieldset>
	</form>
{% endblock %}

{% block extraCSS %}<link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet">{% endblock %}
{% block ExtraJavaScript %}
	<script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
	<script>
		var nowTemp = new Date();
		var nowDate = "" + nowTemp.getDate() + "/" + (nowTemp.getMonth() + 1) + "/" + nowTemp.getFullYear();
		$('#sandbox-container input').datepicker({
			format: "dd/mm/yyyy",
			weekStart: 1,
			startDate: nowDate,
			autoclose: true
		});
	</script>
{% endblock %}
